<div class="row m-4">
  <h3>Los ciclos tecnológicos son</h3>
  <div class="col">
    <h3>DAM</h3>
    <p>Asignaturas:</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of asignaturasDam">
        {{ item.nombre | textos }}
      </li>
    </ul>
  </div>
  <div class="col">
    <h3>DAW</h3>
    <p>Asignaturas:</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of asignaturasDaw">
        {{ item.nombre | textos }}
      </li>
    </ul>
  </div>
</div>
<br />
<div class="row align-items-center m-4">
  <div class="col" *ngFor="let item of ciclos">
    <div class="card" style="width: 18rem">
      <img [src]="item.imagen | imagenes" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ item.curso }} {{ item.nombre | textos }}</h5>
        <div class="col">
          <a
            class="btn btn-primary"
            (click)="pasarDatos('detalleCiclo', item.curso, item.nombre)"
            >Ver detalle</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
