<div class="card" style="width: 18rem">
  <div class="card-body">
    <!-- <h5 class="card-title">{{ asignatura.nombre.toUpperCase() }}</h5> -->
    <p>
      <!-- Profesor: {{ asignatura.profesor }} <br />
        Ciclo: {{ asignatura.ciclo }}<br />
        Curso: {{ asignatura.curso }}<br /> -->
    </p>
    <div class="row">
      <ul class="list-group list-group-horizontal">
        <!-- <li
            class="list-group-item"
            *ngFor="let item2 of asignatura.conocimientos"
          >
            <img [src]="item2.imagen" width="36px" />
          </li> -->
      </ul>
    </div>
    <br />
    <div class="col">
      <a class="btn btn-primary">Ver detalle</a>
    </div>
  </div>
</div>
